/* ==========================================================================
   #TABS
   ========================================================================== */

.c-tabs {
  margin-left: 0;
  list-style: none;
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

  .c-tabs__item {
    display: table-cell;
  }

    .c-tabs__link {

      &, &:visited {
        color: $color-tabs;
        text-decoration: none;
      }

      display: block;
      border: 1px solid $color-tabs-border;
      background-color: $color-tabs-bg;
      padding: $global-spacing-unit-tiny;

      &.is-current {
        color: $color-tabs-current;
        background-color: $color-tabs-bg-current;
        border-color: $color-tabs-border-current;
        position: relative;
        pointer-events: none;

        /**
         * Faux heavy border underneath current tab links.
         */
        &::after {
          content: "";
          position: absolute;
          right: -1px;
          bottom: -1px;
          left: -1px;
          height: 4px;
          background-color: $color-tabs-hilite-current;
        }

      }

    }
