/* ==========================================================================
   #TABS
   ========================================================================== */

.c-tabs {
  margin-left: 0;
  list-style: none;
  display: table;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

  .c-tabs__item {
    display: table-cell;
  }

    .c-tabs__link {

      &, &:visited {
        color: $color-tabs;
        text-decoration: none;
      }

      display: block;
      border: 1px solid $color-tabs-border;
      background-color: $color-tabs-bg;
      padding: $global-spacing-unit-tiny;

      &.is-current {
        color: $color-tabs-current;
        background-color: $color-tabs-bg-current;
        border-color: $color-tabs-border-current;
        position: relative;
        pointer-events: none;

        /**
         * Faux heavy border underneath current tab links.
         */
        &::after {
          content: "";
          position: absolute;
          right: -1px;
          bottom: -1px;
          left: -1px;
          height: 4px;
          background-color: $color-tabs-hilite-current;
        }

      }

    }

      /**
       * 1. Hide tabs’ text on small screens…
       * 2. …but show it when we have enough room…
       * 3. …but always show the text on the current tab.
       */
      .c-tabs__text {
        display: none; /* [1] */

        @include mq($from: md) {
          display: inline; /* [2] */
        }

       .c-tabs__link.is-current > & {
          display: inline; /* [3] */
        }

      }

      /**
       * 1. Show only tabs’ icons on smaller screens…
       * 2. …but hide them on larger screens…
       * 3. …and never show them on current tabs.
       */
      .c-tabs__icon {

        // Specificity bump to override the natural display of our spriting
        // element/icons.
        &#{&} {
          display: inline-block; /* [1] */

          @include mq($from: md) {
            display: none; /* [2] */
          }

          .c-tabs__link.is-current > & {
            display: none; /* [3] */
          }

        }

      }
