/* ==========================================================================
   #RIBBONS
   ========================================================================== */

/**
 * Ribbons are informational banners that sit above the main content of the
 * page.
 */

.c-ribbon {
  @include font-size(14px);
  background-color: $color-ribbon-bg;
  color: $color-ribbon;
  padding-top: $global-spacing-unit-small;
  padding-bottom: $global-spacing-unit-small;

  /**
   * Links want to be the same colour as the content.
   */
  a {
    color: inherit;
  }

}

  /**
   * The Alpha, Beta, Live tag.
   */
  .c-ribbon__tag {
    float: left;
    margin-right: $global-spacing-unit-small;
    display: inline-block;
    padding-right: $global-spacing-unit-small;
    padding-left: $global-spacing-unit-small;
    @include font-size(16px);
    text-transform: uppercase;
    background-color: $color-ribbon-tag-bg;
    color: $color-ribbon-tag;
  }

  /**
   * This houses the main content of the ribbon, usually text.
   *
   * 1. Block formatting context.
   */
  .c-ribbon__body {
    font-weight: normal;
    display: block;
    overflow: hidden; /* [1] */
  }

  /**
   * Dismiss the ribbon.
   */
  .c-ribbon__close {
    float: right;
    margin-left: $global-spacing-unit-small;
  }





/* Style variants
   ========================================================================== */

.c-ribbon--alpha {
  background-color: $color-ribbon-alpha-bg;
}

.c-ribbon--beta {
  background-color: $color-ribbon-beta-bg;
  color: $color-ribbon-beta;
}

.c-ribbon--live {
  background-color: $color-ribbon-live-bg;
}
