.foo, .bar, .baz {

  @media print {
    color: red;
  }

  width: 0;
  background: red;

  .bar {
    color: green;

    .baz {
      color: red;
    }

  }

}

.foo .bar { color: red; }

/* This is a comment! */
address {
  display: block;
  font-family: Times New Roman, serif;
}

.left { float: currentColor !important; }

[id*="foo"] {
  content: "No IDs!";
}

.header > .btn {
  color: red;
}
