/* ==========================================================================
   #COMMENTS
   ========================================================================== */

$_comment-border-width: 4px;

/**
 * Full lists of comments (nestable for nested comment threads).
 */
.c-comments {
  margin-left: 0;
  list-style: none;
  @include font-size(14px);
}

  /**
   * Scope for each individual comment.
   */
  .c-comments__item {
    margin-bottom: $global-spacing-unit-small;
  }

    /**
     * Header area of a user comment.
     */
    .c-comment__meta {
      @include clearfix();
    }

      .c-comment__author {

        &#{&} {
          color: $color-comments-link;
        }

        float: left;
      }

      .c-comment__date {
        float: right;
      }

    /**
     * User input is simply contained in a content wrapper.
     */
    .c-comments__content {

      > :last-child {
        margin-bottom: 0;
      }

    }

    /**
     * Any relevant footer-like information (currently just a ‘reply’ link).
     */
    .c-comments__footer {
      text-align: right;
    }

      .c-comments__reply {

        &#{&} {
          color: $color-comments-link;
        }

      }

/* Nested Comments
 *
 * Comment threads/replies reuse and extend the regular comment listing style.
 * These are, in theory, infinitely nestable, but I imagine the depth will be
 * limited at platform level (ie. WordPress, Moodle).
   ========================================================================== */

.c-comments--replies {
  position: relative;
  margin-top: $global-spacing-unit;
  padding-left: $global-spacing-unit-small - $_comment-border-width;
  border-left: $_comment-border-width solid $color-comments-border;

  /**
   * Create a faux mask that will blot out the left-border or parent-replies,
   * giving the illusion of a tree of comments.
   *
   * 1. Change this to red to see exactly what’s going on.
   */
  & &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -($global-spacing-unit-small + $_comment-border-width);
    width: $_comment-border-width;
    background-color: #fff; /* [1] */
  }

}
