/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/* Setup
 *
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 * 6. Hard-coded value to ensure uniform heights (as per designs).
   ========================================================================== */

.c-btn {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  font-weight: bold;
  text-align: center; /* [4] */
  margin: 0; /* [4] */
  cursor: pointer; /* [5] */
  text-decoration: none;
  padding: 4px $global-spacing-unit-large; /* [6] */
  border: 1px solid transparent;
  transition: 0.2s;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 2px 0 rgba($color-btn-shadow, 0.2),
                0 8px 10px 0 rgba($color-btn-shadow, 0.4);
  }

  &:focus {
    box-shadow: 0 4px 4px 0 rgba($color-btn-shadow, 0.1) inset,
                0 2px 2px 0 rgba($color-btn-shadow, 0.3) inset;
    border-color: transparent;
  }

}





/* Style variants
   ========================================================================== */

.c-btn--submit {
  background-color: $color-btn-submit-bg;
  border-color: rgba($color-btn-primary-border, 0.5);
  box-shadow: 0 2px 2px 0 rgba($color-btn-shadow, 0.7);

  /**
   * Our global `:visited` state overrides the button’s color, so we use this
   * one weird trick to get around it.
   */
  &#{&} {
    color: $color-btn-submit;
  }

  &:hover,
  &:focus {
    background-color: $color-btn-submit-bg-hover;
  }

}

.c-btn--primary {
  background-color: $color-btn-primary-bg;
  border-color: rgba($color-btn-primary-border, 0.5);
  box-shadow: 0 2px 2px 0 rgba($color-btn-shadow, 0.8);

  /**
   * Our global `:visited` state overrides the button’s color, so we use this
   * one weird trick to get around it.
   */
  &#{&} {
    color: $color-btn-primary;
  }

  &:hover,
  &:focus {
    background-color: $color-btn-primary-bg-hover;
  }

}





.c-btn--secondary {
  background-color: $color-btn-secondary-bg;
  border-color: rgba($color-btn-secondary-border, 0.1);
  box-shadow: 0 2px 2px 0 rgba($color-btn-shadow, 0.5);

  &:hover,
  &:focus {
    background-color: $color-btn-secondary-bg-hover;
  }

  /**
   * Our global `:visited` state overrides the button’s color, so we use this
   * one weird trick to get around it.
   */
  &#{&} {
    color: $color-btn-secondary;
  }

  &:hover,
  &:focus {
    background-color: $color-btn-secondary-bg-hover;
  }

}





/* Disabled state
   ========================================================================== */

.c-btn.is-disabled,
.c-btn[disabled] {
  pointer-events: none;
  opacity: 0.5;
  border-color: transparent;
}





/* Size variants
   ========================================================================== */

.c-btn--full {
  width: 100%;
}

/**
 * Natural buttons only take up as little content as they need to, with one
 * character’s worth of padding either side.
 */
.c-btn--natural {
  padding-right: 1ch;
  padding-left: 1ch;
}
