/* ==========================================================================
   #WIDTHS
   ========================================================================== */

@mixin _build-widths($columns, $breakpoint: null) {

  // Loop through the number of columns for each denominator of our fractions.
  @each $denominator in $columns {

    // Begin creating a numerator for our fraction up until we hit the
    // denominator.
    @for $numerator from 1 through $denominator {

      // Build a class in the format `.u-width-3/4[@<breakpoint>]`.
      .u-#{$numerator}\/#{$denominator}#{$breakpoint} {
        width: ($numerator / $denominator) * 100% !important;
      }

      /**
       * 1. Defensively reset any leftover or conflicting `left`/`right` values.
       */

      // Build a class in the format `.u-push-1/2[@<breakpoint>]`.
      .u-push-#{$numerator}\/#{$denominator}#{$breakpoint} {
        position: relative;
        right: auto; /* [1] */
        left: ($numerator / $denominator) * 100% !important;
      }

      // Build a class in the format `.u-pull-5/6[@<breakpoint>]`.
      .u-pull-#{$numerator}\/#{$denominator}#{$breakpoint} {
        position: relative;
        right: ($numerator / $denominator) * 100% !important;
        left: auto; /* [1] */
      }

    }

  }

}





// Generate our regular, non-responsive classes.
@include _build-widths(16);





// Generate our responsive classes by looping over the series of breakpoints
// held by Sass MQ.
@each $alias, $bp in $mq-breakpoints {

  @include mq($from: $alias) {

    @include _build-widths(16, \@#{$alias});

  }

}
