/* ==========================================================================
   #COLORS
   ========================================================================== */

/**
 * Generate a suite of utility classes that map directly to our colour palette.
 */

/* stylelint-disable declaration-no-important */

@each $name, $value in $global-colors {

  .u-color-#{$name} {
    color: $value !important;
  }

  .u-color-bg-#{$name} {
    background-color: $value !important;
  }

  .u-color-#{$name}\:hover:hover {
    color: $value !important;
  }

  .u-color-bg-#{$name}\:hover:hover {
    background-color: $value !important;
  }

}

/* stylelint-enable */
