/* ==========================================================================
   #HINTS
   ========================================================================== */

@if ($global-hints == true) {

/**
 * Layout Items must be nested directly within an `.o-layout` parent.
 */
.o-layout__item {
  --error: "Yikes! This needs to live inside of an `.o-layout` parent.";
  outline: 1px solid red;

  .o-layout > & {
    outline: none;
  }

}

} // endif
