/* ==========================================================================
   #DETAILS
   ========================================================================== */

/**
 * Native browser DETAILS element used to toggle content.
 */

// Pretty icky, but this works out how much we *relatively* need to out-/indent
// SUMMARY elements by in order to hang the indicator.
$_details-indent: 19px/$global-font-size * 1em;

details {
  color: $color-details;

  /**
   * This is really far from ideal, but if we drop a DIV directly into the
   * DETAILS element, we get a nice grouping element. Nearly all of the values
   * below are eyeballed, so they’re pretty subjective.
   */
  > div {
    margin-top: 10px;
    margin-left: $_details-indent;
    padding-left: $global-spacing-unit-small;
    border-left: 4px solid $color-details-border;
  }

}

  /**
   * 1. Has the effect of hanging the ‘status arrow’.
   */
  summary {
    color: $color-links;
    cursor: pointer;
    outline: none;
    text-decoration: underline;
    text-decoration-skip: ink;
    padding-left: $_details-indent; /* [1] */
    text-indent: -$_details-indent; /* [1] */

    &:hover {
      color: $color-links-hover;
    }

    &:active,
    &:focus {
      text-decoration: underline;
    }

    /* stylelint-disable selector-no-qualifying-type */

      details[open] > & {
        color: #005eb8;
        text-decoration: underline;
      }

    /* stylelint-enable */

  }
