/* ==========================================================================
   #LINKS
   ========================================================================== */

/**
 * This is simply to style bare A elements. Anything more complex should
 * probably become a Component.
 *
 * 1. Ensure that underlines don’t pass through descenders. Nice!
 */

a {
  color: $color-links;
  text-decoration: none;
  text-decoration-skip: ink; /* [1] */

  &:visited {
    color: $color-links-visited;
  }

  &:hover {
    text-decoration: underline;
    color: $color-links-hover;
  }

  &:active,
  &:focus {
    text-decoration: underline;
    color: $color-links-active;
  }

  /* stylelint-disable selector-no-qualifying-type */

    &[target="_blank"]:after {
      @include sprite(new-window, true)
      margin-left: 2px;
      position: relative;
      top: -1px;
    }

  /* stylelint-enable */

}





/* Heading links
 *
 * Links in headings look a little different
   ========================================================================== */

%_heading-link {
  text-decoration: none;
  color: $color-links-headings;
}

%_heading-link-visited {
  text-decoration: underline;
  color: $color-links-headings;
}

%_heading-link-hover {
  text-decoration: underline;
  color: $color-links-headings-hover;
}

%_heading-link-focus {
  text-decoration: underline;
  color: $color-links-headings;
}

// Loop through headings 1 through 6…
@for $i from 1 through 6 {

  // …and recycle the declarations we left behind previously.
  h#{$i} > a {

    &:link {
      @extend %_heading-link;
    }

    &:visited {
      @extend %_heading-link-visited;
    }

    &:hover {
      @extend %_heading-link-hover;
    }

    &:focus {
      @extend %_heading-link-focus;
    }

  }

}
