/* ==========================================================================
   #DETAILS
   ========================================================================== */

/**
 * Native browser DETAILS element used to toggle content.
 */

details {

  /**
   * This is really far from ideal, but if we drop a DIV directly into the
   * DETAILS element, we get a nice grouping element. Nearly all of the values
   * below are eyeballed, so they’re pretty subjective.
   */
  > div {
    margin-top: 10px;
    margin-left: 20px;
    padding-left: $global-spacing-unit-small;
    border-left: 4px solid $color-details-border;
  }

}

  summary {
    color: $color-links;
    cursor: pointer;
    outline: none;

    &:hover {
      color: $color-links-hover;
      text-decoration: underline;
    }

    &:active,
    &:focus {
      text-decoration: underline;
    }

    /* stylelint-disable selector-no-qualifying-type */

      details[open] > & {
        color: #78be20;
        text-decoration: underline;
      }

    /* stylelint-enable */

  }
