/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple, element-based headings 1 through 6
 */

h1 {
  @include font-size($global-font-size-h1, $global-line-height-h1);
  font-weight: bold;
}

h2 {
  @include font-size($global-font-size-h2, $global-line-height-h2);
  font-weight: bold;
}

h3 {
  @include font-size($global-font-size-h3, $global-line-height-h3);
  font-weight: bold;
}

h4 {
  @include font-size($global-font-size-h4, $global-line-height-h4);
  font-weight: bold;
}

h5 {
  @include font-size($global-font-size-h5, $global-line-height-h5);
  font-weight: bold;
}

h6 {
  @include font-size($global-font-size-h6, $global-line-height-h6);
  font-weight: bold;
}
