/* ==========================================================================
   #QUOTES
   ========================================================================== */

/**
 * Basic styles for quotations. For anything more specific please build a new
 * component.
 */





/* Inline quotes in runs of text
   ========================================================================== */

q {
  font-style: italic;
  quotes: '‘' '’' "“" "”";

  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }

}





/* Blockquotes
   ========================================================================== */

blockquote {
  font-style: italic;
  margin-right: $global-spacing-unit;
  margin-left: $global-spacing-unit;
}
