/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple, element-based headings 1 through 6
 */

h1 {
  @include font-size(48px);
  font-weight: bold;
}

h2 {
  @include font-size(36px);
  font-weight: bold;
}

h3 {
  @include font-size(27px);
  font-weight: bold;
}

h4 {
  @include font-size(19px);
  font-weight: bold;
}
