/* ==========================================================================
   #FORMS
   ========================================================================== */

label {
  display: block;
  cursor: pointer;
  font-weight: bold;
  color: $color-form-label;
}
