/* ==========================================================================
   #FORMS
   ========================================================================== */

// We want to reuse label styling on non-label elements later on; this is
// a private-use mixin to help us achieve just that.
@mixin _label-text() {
  display: block;
  font-weight: bold;
  color: $color-form-label;
}

label {
  @include _label-text();
  cursor: pointer;
  margin-bottom: $global-spacing-unit-small;

  > small {
    display: block;
    color: $color-form-label-sub;
    font-weight: normal;
  }

}
