/* ==========================================================================
   #LISTS
   ========================================================================== */

/**
 * Lists are relatively simple, but they do follow different color rules.
 */

ul, ol {
  color: $color-lists;
}

ul ul {
  list-style-type: circle;
}

ol ol {
  list-style-type: lower-alpha;
}
