/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple, element-based headings 1 through 6
 */

h1 {
  @include font-size($global-font-size-h1);
  font-weight: bold;
}

h2 {
  @include font-size($global-font-size-h2);
  font-weight: bold;
}

h3 {
  @include font-size($global-font-size-h3);
  font-weight: bold;
}

h4 {
  @include font-size($global-font-size-h4);
  font-weight: bold;
}
