/* ==========================================================================
   #QUOTES
   ========================================================================== */

/**
 * Basic styles for quotations. For anything more specific please build a new
 * component.
 */





/* Inline quotes in runs of text
   ========================================================================== */

q {
  font-style: italic;
  quotes: '‘' '’' "“" "”";

  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }

}





/* Standalone blockquotes
 *
 * 1. The defined line-height for BLOCKQUOTE elements is 32px, therefore we need
 *    to grab the unitless line-height by calculating the ratio.
   ========================================================================== */

blockquote {

  // How many times bigger than the text should the hung quote be?
  $hung-quote-ratio: 3;

  @include font-size(24px, 32/24);
  font-style: italic;
  color: #425563;
  padding-left: $hung-quote-ratio * 1em;

  /**
   * Blockquotes have a hung quote as a visual decoration. A lot of the values
   * below have been eyeballed, so they’re kinda subjective. The size of the
   * quote mark is sourced from `$hung-quote-ratio`, above. We also use this
   * value to work out how much space to reserve around the text itself.
   */
  &:before {
    content: "“";
    float: left;
    font-size: $hung-quote-ratio * 1em;
    line-height: 1;
    width: 1em;
    text-align: center;
    margin-left: -1em;
    position: relative;
    top: -4px;
  }

}
