// ==========================================================================
// #COLORS
// ========================================================================== */

// In this file, we take the literal colors from our palette and define them
// against variables that we can utilise anywhere throughout the project.





// Text
//
// 1. Style the very high-level text of the page.
// ========================================================================== */

$color-text:    color('nhs-black')     !default; // [1]
$color-text-bg: color('white')         !default; // [1]
$color-lists:   color('nhs-grey-dark') !default;





// Links
// ========================================================================== */

$color-links:         color('nhs-purple')       !default;
$color-links-hover:   color('nhs-purple-light') !default;
$color-links-active:  color('nhs-orange')       !default;
$color-links-visited: color('attention')        !default;





// Page Header
// ========================================================================== */

$color-page-head-bg:        color('white')    !default;
$color-page-head-invert:    color('white')    !default;
$color-page-head-bg-invert: color('nhs-blue') !default;





// Nav Primary
// ========================================================================== */

$color-nav-primary: color('nhs-black') !default;
$color-nav-primary-invert: color('white') !default;





// Page Footer
// ========================================================================== */

$color-page-footer-border: color('nhs-purple');
$color-page-footer-bg:     color('nhs-grey-pale');
$color-page-footer-links:  color('nhs-grey-mid');





// Buttons
// ========================================================================== */

$color-btn-submit:          color('white')   !default;
$color-btn-submit-bg:       color('success') !default;
$color-btn-submit-bg-hover: #9bcf5a          !default;

$color-btn-primary:          color('white')      !default;
$color-btn-primary-bg:       color('nhs-purple') !default;
$color-btn-primary-bg-hover: #5d348f             !default;

$color-btn-secondary:          color('nhs-purple')    !default;
$color-btn-secondary-bg:       color('white')         !default;
$color-btn-secondary-bg-hover: #f4f4f4                !default;
$color-btn-secondary-border:   color('nhs-grey-pale') !default;

$color-btn-disabled:    color('white')         !default;
$color-btn-disabled-bg: color('nhs-grey-pale') !default;





// Ribbons
// ========================================================================== */

$color-ribbon:          color('white');
$color-ribbon-bg:       color('nhs-black');
$color-ribbon-alpha-bg: color('nhs-pink');
$color-ribbon-beta-bg:  color('nhs-orange');
$color-ribbon-live-bg:  color('nhs-aqua');
$color-ribbon-tag:      color('white');
$color-ribbon-tag-bg:   color('nhs-black');





// Details
//
// The DETAILS element is almost identical to the A element, so we just use link
// variables to style the majority of it.
// ========================================================================== */

$color-details-border: color('nhs-grey-pale') !default;





// Spinners
// ========================================================================== */

$color-spinner-light: color('white')    !default;
$color-spinner-dark:  color('nhs-blue') !default;





// Dividers
// ========================================================================== */

$color-divider:       color('nhs-grey-mid')  !default;
$color-divider-large: color('nhs-grey-pale') !default;





// Progress
// ========================================================================== */

$color-progress-bar:       color('nhs-grey-dark') !default;
$color-progress-bar-title: color('nhs-grey-mid')  !default;
$color-progress-bar-bar:   color('nhs-grey-pale') !default;
$color-progress-bar-fill:  color('nhs-aqua')      !default;

$color-progress-wheel-bar:   color('nhs-purple')       !default;
$color-progress-wheel-fill:  color('nhs-purple-light') !default;
