// ==========================================================================
// #COLORS
// ========================================================================== */

// In this file, we take the literal colors from our palette and define them
// against variables that we can utilise anywhere throughout the project.





// Text
//
// 1. Style the very high-level text of the page.
// ========================================================================== */

$color-text:    color('nhs-black')     !default; // [1]
$color-text-bg: color('white')         !default; // [1]
$color-lists:   color('nhs-black') !default;





// General
//
// For more general/generic colours that are based on our palette.
// ========================================================================== */

$color-attention:   color('attention')   !default;
$color-error:       color('error')       !default;
$color-information: color('information') !default;
$color-pending:     color('pending')     !default;
$color-success:     color('success')     !default;
$color-warning:     color('warning')     !default;





// Links
// ========================================================================== */

$color-links:         color('nhs-blue')   !default;
$color-links-hover:   #4c8ecf             !default;
$color-links-active:  color('nhs-blue')   !default;
$color-links-visited: color('nhs-purple') !default;

$color-links-headings:       color('nhs-black') !default;
$color-links-headings-hover: #646162            !default;





// Page Header
// ========================================================================== */
$color-page-head-bg:        color('white')    !default;
$color-page-head-invert:    color('white')    !default;
$color-page-head-bg-invert: color('nhs-blue') !default;





// Nav Primary
// ========================================================================== */

$color-nav-primary:                   color('nhs-black')     !default;
$color-nav-primary-invert:            color('white')         !default;
$color-nav-primary-sub:               color('nhs-grey-dark') !default;
$color-nav-primary-sub-bg:            color('nhs-grey-pale') !default;
$color-nav-primary-trigger:           color('nhs-blue')     !default;
$color-nav-primary-trigger-active:    color('nhs-black')     !default;
$color-nav-primary-trigger-bg:        color('nhs-grey-pale') !default;
$color-nav-primary-trigger-bg-invert: color('nhs-white')     !default;





// Page Footer
// ========================================================================== */

$color-page-footer-border: color('nhs-purple')    !default;
$color-page-footer-bg:     color('nhs-grey-pale') !default;
$color-page-footer-links:  color('nhs-grey-mid')  !default;
$color-page-footer-nav:    color('nhs-black')     !default;
$color-page-footer-small:  color('nhs-grey-mid')  !default;





// Buttons
// ========================================================================== */

$color-btn-submit:          color('white')   !default;
$color-btn-submit-bg:       color('success') !default;
$color-btn-submit-bg-hover: darken(color('success'), 5%)    !default;

$color-btn-primary:          color('white')                !default;
$color-btn-primary-bg:       color('nhs-blue')             !default;
$color-btn-primary-bg-hover: darken(color('nhs-blue'), 5%) !default;
$color-btn-primary-border:   color('white')                !default;

$color-btn-secondary:          color('nhs-blue')           !default;
$color-btn-secondary-bg:       color('white')              !default;
$color-btn-secondary-bg-hover: darken(color('white'), 15%) !default;
$color-btn-secondary-border:   color('nhs-black')          !default;

$color-btn-disabled:    color('white')         !default;
$color-btn-disabled-bg: color('nhs-grey-pale') !default;

$color-btn-shadow: color('nhs-black') !default;





// Forms
// ========================================================================== */

$color-form:               color('nhs-black')     !default;
$color-form-bg:            color('white')         !default;
$color-form-border:        color('nhs-grey-pale') !default;
$color-form-border-focus:  #ffb81c                !default;
$color-form-border-error:  color('error')         !default;
$color-form-label:         color('nhs-black')     !default;
$color-form-label-sub:     color('nhs-grey-dark') !default;

$color-checkbox-bg:         color('white')   !default;
$color-checkbox-bg-checked: color('success') !default;





// Ribbons
// ========================================================================== */

$color-ribbon:                color('white')     !default;
$color-ribbon-bg:             color('nhs-black') !default;
$color-ribbon-alpha:          color('nhs-black') !default;
$color-ribbon-alpha-bg:       color('nhs-grey-pale')  !default;
$color-ribbon-beta:           color('nhs-black') !default;
$color-ribbon-beta-bg:        color('nhs-grey-pale')!default;
$color-ribbon-tag:            color('white')     !default;
$color-ribbon-tag-bg:         color('nhs-black') !default;
$color-ribbon-btn-bg:         color('white')     !default;
$color-ribbon-expandable:     color('nhs-black') !default;
$color-ribbon-expandable-bg:  #ccdff1            !default;





// Details
//
// The DETAILS element is almost identical to the A element, so we just use link
// variables to style the majority of it.
// ========================================================================== */

$color-details:        color('nhs-grey-dark') !default;
$color-details-border: color('nhs-grey-pale') !default;





// Spinners
// ========================================================================== */

$color-spinner-light: color('white')    !default;
$color-spinner-dark:  color('nhs-blue') !default;





// Dividers
// ========================================================================== */

$color-divider:       color('nhs-grey-mid')  !default;
$color-divider-large: color('nhs-grey-pale') !default;





// Progress
// ========================================================================== */

$color-progress-bar:       color('nhs-grey-pale') !default;
$color-progress-bar-fill:  color('nhs-purple')    !default;





// Pagination
// ========================================================================== */

$color-pagination-border:  color('nhs-grey-mid')  !default;
$color-pagination-current: color('nhs-grey-pale') !default;





// Tabs
// ========================================================================== */

$color-tabs:                color('nhs-grey-dark') !default;
$color-tabs-bg:             color('nhs-grey-pale') !default;
$color-tabs-current:        color('nhs-blue')      !default;
$color-tabs-bg-current:     color('white')         !default;
$color-tabs-border:         color('white')         !default;
$color-tabs-border-current: color('nhs-grey-pale') !default;
$color-tabs-hilite-current: color('nhs-blue')      !default;





// Media
// ========================================================================== */

$color-media-bg:      color('white')         !default;
$color-media-border:  color('nhs-grey-pale') !default;
$color-media-tint:    color('nhs-purple')    !default;
$color-media-content: color('nhs-grey-dark') !default;





// Breadcrumb
// ========================================================================== */

$color-breadcrumb-bg: #eae5f0 !default;
$color-breadcrumb:    color('nhs-black') !default;





// Comments
// ========================================================================== */

$color-comments-border: color('nhs-grey-pale') !default;
$color-comments-link: color('nhs-blue') !default;





// Quotes
// ========================================================================== */

$color-quote:        color('nhs-grey-dark') !default;
$color-quote-meta:   color('nhs-black')     !default;
$color-quote-border: color('nhs-grey-pale') !default;
$color-quote-alt:    color('white')         !default;
$color-quote-alt-bg: color('nhs-blue')    !default;

