// ==========================================================================
// #COLORS
// ========================================================================== */

// In this file, we take the literal colors from our palette and define them
// against variables that we can utilise anywhere throughout the project.





// Text
//
// 1. Style the very high-level text of the page.
// ========================================================================== */

$color-text: color('nhs-black') !default; // [1]
$color-text-bg: color('white') !default; // [1]
$color-lists: color('nhs-grey-dark') !default;





// Links
// ========================================================================== */

$color-links: color('nhs-purple') !default;
$color-links-hover: color('nhs-purple-light') !default;
$color-links-active: color('nhs-orange') !default;
$color-links-visited: color('attention') !default;





// Buttons
// ========================================================================== */

$color-btn-submit: color('white') !default;
$color-btn-submit-bg: color('success') !default;
$color-btn-submit-bg-hover: #9bcf5a !default;

$color-btn-primary: color('white') !default;
$color-btn-primary-bg: color('nhs-purple') !default;
$color-btn-primary-bg-hover: #5d348f !default;

$color-btn-secondary: color('nhs-purple') !default;
$color-btn-secondary-bg: color('white') !default;
$color-btn-secondary-bg-hover: #f4f4f4 !default;
$color-btn-secondary-border: color('nhs-grey-pale') !default;

$color-btn-disabled: color('white') !default;
$color-btn-disabled-bg: color('nhs-grey-pale') !default;





// Details
//
// The DETAILS element is almost identical to the A element, so we just use link
// variables to style the majority of it.
// ========================================================================== */

$color-details-border: color('nhs-grey-pale') !default;





// Spinners
// ========================================================================== */

$color-spinner-light: color('white') !default;
$color-spinner-dark: color('nhs-blue') !default;
