// ==========================================================================
// #DEFINITIONS
// ========================================================================== */

///
// CONTENTS
//
// Typography...........Our most basic and global typographic settings.
// Colors...............Load up a map with our color definitions.
// Assets...............Asset paths for fonts, sprites, etc.
// Responsive...........Define our breakpoint sizes and what they’re called.
// Sizing...............Settings pertaining to various UI sizes.
 //





// Typography
// ========================================================================== */

$global-font-size: 18px !default;
$global-line-height: 26px !default;

$global-font-size-h1: 48px !default;
$global-font-size-h2: 36px !default;
$global-font-size-h3: 27px !default;
$global-font-size-h4: 19px !default;





// Colors
// ========================================================================== */

$primary-colors: (
  'nhs-black': #231f20,
  'nhs-blue': #005eb8,
  'nhs-grey-dark': #425563,
  'nhs-grey-mid': #768692,
  'nhs-grey-pale': #e8edee,
  'white': #fff,
) !default;

$secondary-colors: (
  'nhs-orange': #ed8b00,
  'nhs-pink': #ae2573,
  'nhs-purple-light': #704c9c,
  'nhs-purple': #330072,
  'nhs-blue-dark': #003087,
  'nhs-blue-bright': #0072CE,
  'nhs-blue-light': #41B6E6,
  'nhs-blue-aqua': #00A9CE,
  'nhs-aqua': #00a499,
  'nhs-green-dark': #006747,
  'nhs-green': #009639,
  'nhs-green-light': #78BE20,
  'nhs-pink-dark': #7C2855,
  'nhs-red-dark': #8A1538,
  'nhs-red-emergency': #DA291C,
  'nhs-yellow': #FAE100,
  'nhs-yellow-warm': #FFB81C,
) !default;


$accent-colors: (
  // to-do: does this work?
  // 'accent-1': $,
  // 'accent-2': $,
  // 'accent-3': $,
) !default;

$message-colors: (
  'attention': #7c2855,
  'error': #da291c,
  'information': #330072,
  'pending': #8a1538,
  'success': #78be20,
  'warning': #fae100,
) !default;

// ^ will replace $global-colors

$global-colors: (
  'attention': #7c2855,
  'error': #da291c,
  'information': #330072,
  'nhs-aqua': #00a499,
  'nhs-black': #231f20,
  'nhs-blue': #005eb8,
  'nhs-grey-dark': #425563,
  'nhs-grey-mid': #768692,
  'nhs-grey-pale': #e8edee,
  'nhs-orange': #ed8b00,
  'nhs-pink': #ae2573,
  'nhs-purple-light': #704c9c,
  'nhs-purple': #330072,
  'pending': #8a1538,
  'success': #78be20,
  'warning': #fae100,
  'white': #fff,
) !default;

// Grab colors from the above map by calling `color(error)`.
@function color($key) {
  @return map-get($global-colors, $key);
}





// Assets
// ========================================================================== */

$asset-path: '/assets/' !default;
$font-path: '/assets/fonts/' !default;
$image-path: '/assets/img/' !default;





// Responsive
// ========================================================================== */

$mq-breakpoints: (
  'sm': 480px,
  'md': 720px,
  'lg': 1024px,
  'xl': 1280px,
) !default;





// Sizing
// ========================================================================== */

$global-spacing-unit: 30px !default;
$global-border-heavy: 15px !default;
$global-border-mid: 10px !default;





///////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
//                                                                            \\
//                               W A R N I N G                                \\
//                                                                            \\
///////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

// Do not modify anything below this point: this is framework-only reassignment.

$global-spacing-unit-tiny: round(0.25 * $global-spacing-unit);
$global-spacing-unit-small: round(0.5 * $global-spacing-unit);
$global-spacing-unit-large: round(2 * $global-spacing-unit);
