/* ==========================================================================
   #BREADCRUMB
   ========================================================================== */

/**
 * Breadcrumb’s main parent simply contains and scrolls the breadcrumb list.
 *
 * 1. Make sure all browsers scroll to the best of their abilities.
 * 2. Native-like scrolling on touch devices.
 * 3. Use negative top margin to negate bottom margin of header this is under.
 * 4. Use larger top margin if breacrumbs sit under page-specific ribbons.
 */
.c-breadcrumb {
  @include font-size(14px);
  margin-bottom: $global-spacing-unit;
  white-space: nowrap;
  overflow: scroll; /* [1] */
  overflow-x: scroll; /* [1] */
  overflow-y: auto; /* [1] */
  -webkit-overflow-scrolling: touch; /* [2] */
  background-color: $color-breadcrumb-bg;
  padding: $global-spacing-unit-tiny;
  margin-top: -$global-spacing-unit; /* [3] */
  margin-left: -$global-spacing-unit;
  margin-right: -$global-spacing-unit;
  padding-left: $global-spacing-unit;
  padding-right: $global-spacing-unit;
}
.c-ribbon--page-specific + .c-breadcrumb {
  margin-top: -($global-spacing-unit + $global-border-mid); /* [4] */
}
  .c-breadcrumb__list {
    margin-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

    .c-breadcrumb__item {
      display: inline-block;

      & + &:before {
        @include sprite('arrow-right', generated);
        margin-right: 4px;
      }

      /**
       * Ensure that the last item (in a scrolling Breadcrumb) doesn’t sit flush
       * to the edge of the breadcrumb parent.
       */
      &:last-of-type {
        padding-right: $global-spacing-unit;
      }

    }

      .c-breadcrumb__link {
        text-decoration: none;
        word-spacing: initial;

        /**
         * Specificity bump to get around `:visited` issues.
         */
        &#{&} {
          color: $color-breadcrumb;
        }

        /**
         * The current page is underlined and uninteractive.
         */
        &.is-current {
          text-decoration: underline;
          cursor: default;
          pointer-events: none;
        }

      }
