/* ==========================================================================
   #CARDS
   ========================================================================== */

 .c-card {
   border-style: solid;
   border-width: $global-border-light;
   padding: $global-border-mid;
   margin-bottom: $global-border-mid;
 }
 .c-card > h6 {
   margin-bottom: 0;
 }

/**
 * Styling for alert cards.
 *
 */

.c-card--alert {
  border-color: $color-error;
}

/**
 * Styling for information cards.
 *
 */

.c-card--information {
  border-color: $color-information;
}
