/* ==========================================================================
   #SEARCH BAR
   ========================================================================== */

   .c-search {
     white-space: nowrap;
   }
   .c-search__input {
     @extend .c-form-input;
     height: 36px;  // Height should match NHS lozenge in logo
     padding-left: 5px;
   }
   .c-search__btn {
     @include sprite('magnifying-glass-rev', generated);
     margin-left: -40px;
     border: none;
     border-radius: 0;
     background-color: $color-nav-primary-trigger-bg;
   }

