/* ==========================================================================
   #SEARCH BAR
   ========================================================================== */

   .c-page-header__controls > .c-form-input {
     padding: 0;
     margin: 0;
   }
   .c-search-field {
     padding: 0;
     padding-left: 5px;
     margin: 0;
     border: none;
     width: calc(100% - 40px);
   }
   .c-sprite--magnifying-glass-rev {
     padding: 0;
     margin: 0;
     border: none;
     border-radius: 0;
     background-color: $color-nav-primary-trigger-bg;
   }