/* ==========================================================================
   #FILE-UPLOAD
   ========================================================================== */

/**
 * Long-form comment.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line-comments like this.
 */

.c-file-upload {
  position: relative;
  padding: $global-spacing-unit-small;
  margin-bottom: $global-spacing-unit;
  text-align: center;
  border: 4px dashed $color-file-upload-border;
  background-color: $color-file-upload-bg;

  &.is-active:before {
    content: "";
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    background-color: white;
    opacity: 0.7;
    z-index: 2;
  }

  &.is-active:after {
    @include sprite(add, true);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    z-index: 3;
  }

}

  .c-file-upload__title {
    margin-bottom: $global-spacing-unit-small;
  }

  .c-file-upload__input {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    width: 100%;
    opacity: 0;
  }

  .c-file-upload__btn {
    position: relative;
    z-index: 1;
  }

  .c-file-upload__or {
    display: block;
    margin-bottom: $global-spacing-unit-small;

    &:before,
    &:after {
      content: " - ";
    }

  }





/* Sub-title
   ========================================================================== */

